body{
     background: linear-gradient(90deg, #97d533 0%, #51dac3 100%);
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 0%;
     margin: 0%;
     box-sizing: border-box;
     text-align: center;
}
img{
    width:3%;
    height: 3%;
}
h1{
    color:rgb(128, 0, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
input{
    width:15%;
    height: 8vh;
}
ul{
    list-style: none;
    text-align: center;
    color: rgb(172, 9, 50);
    text-transform: uppercase;
    font-weight: bold;
}
#add{
    border-radius: 50px;
    background-color: #e0e6e5;
    color:rgb(136, 2, 107);
    border: none;
    width: 3%;
    height: 3%;
    padding: 1%;
    }
    .btn2{
        color:rgb(4, 160, 87);
        background-color:#e0e6e5;
        border-radius: 50px;
        border: none;
        text-transform: capitalize;
        padding: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    .btn{
        color:rgb(218, 10, 10);
        background-color:#e0e6e5;
        border-radius: 50px;
        border: none;
        text-transform: capitalize;
        padding: 1%;
        margin-left: 1.5%;
        margin-bottom: 1%;
    }
    #delete{
    border-radius: 50px;
    background-color: #e0e6e5;
    color:rgb(136, 2, 2);
    border: none;
    outline: none;
    width: 3%;
    height: 3%;
    padding: 1%;
}